# custom files
!/custom/aliases/example.aliases.sh
!/custom/completion/example.completion.sh
!/custom/plugins/example/
!/custom/themes/example/
!/custom/example.sh
#/custom/

# enabled Directory
enabled/*
*/enabled/*

# temp files directories
/cache/
/log/
!/cache/todo.cfg
!/cache/.gitkeep
!/log/.gitkeep

# disabled files
*.swp
*.disabled
.idea/.dir_bash_history
.cd-reminder
.smart-commit-ignore
plugins/marker/user_commands.txt
